@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700");
@import "variables";
@import "reset";

//variables have to be at the top like hoisting

*{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}


@import "listings";
@import "content-area";
